@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700');


body{
    font-family: 'IBM Plex Sans', sans-serif;
    background: #2F80ED;
    color: white;

}

input{
    outline:0;
    padding: 14px;
    border: 0px;
    
}

h1{
    text-transform: uppercase;
}

ul{
    list-style: none;
}